.photo {
  border-radius: 10px;
  height: 300px;;
  width: 300px;
  margin-right: 10px;
  position: relative;
}

.icon img {
height: 20px;
width: 20px;
} 

/* .logos {
  float: right;
  width: 100px;
  position: absolute;
  left: 10px;
} */
main {
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.a {
  width: 100%;
  /* position: relative; */
}

.j {
  width: 100%;
  /* position: relative; */
}

.s {
  width: 80%;
  /* position: relative; */
}

.h {
  width: 80%;
  /* position: relative; */
}

p {
  /* max-width: 400px; */
}
/* 
.AandJ {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 150%; 
  padding: 100px;
}

.SandH {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 150%; 
  padding: 100px;
  
} */
/* 
.team {
display: inline-block;
width: 30%;
height: 80%;
margin-top: 100px;
padding: 0 8px;
margin-bottom: 16px;
}

.row {
  width: 100%;
} */

p {
  font-size: 20px;
  text-align: inherit;
  margin-top: 10px;
  width: 77%;
  height: 800%;
}