main #Andrew img{
border-radius: 5px;
height: 100px;;
width: 100px;
float: left;
}

main #Jared img {
border-radius: 5px;
height: 100px;
width: 100px;
float: left;
}

main #Siobhan img {
border-radius: 5px;
height: 100px;
width: 100px;
float: right;
}

main #Harris img {
border-radius: 5px;
height: 100px;
width: 100px;
float: right;
}

#linkedin {

}

#twitter {

}

#github {

}