.photo {
  border-radius: 10px;
  height: 300px;;
  width: 300px;
  margin-right: 10px;
  float: left;
}

.icon img {
height: 20px;
width: 20px;
display: inline-block;
} 

.a {
  width: 100%;
  margin-bottom: 60px;
}

.j {
  width: 100%;
  margin-bottom: 50px; 
}

.s {
  width: 100%;
  margin-bottom: 80px;
}

.h {
  width: 100%;
  margin-bottom: 50px;
}

.AandJ {
  display: inline-block;
  width: 45%;
  float: left;
  margin-right: 60px;
}

.SandH {
  display: inline-block;
  width: 45%;
  float: left;
}

p {
  font-size: 20px;
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.name-logo-container > div,h3{
  display: inline-block;
}