html {
    background: rgba(219, 206, 206, 0.719);
    font-size: 25px;
}

body {
    margin: 40px;
}
nav {
    border: 3px solid gray;
    border-radius: 5px;
    margin: 10px auto 20px ;
    text-align: center;
    width: 1300px;
}
header li {
    display: inline-block;
    font-size: 35px;
    margin-right: 100px;
    margin-left: 190px; 
    margin-top: 20px;
    margin-bottom: 20px;
}
section h1{
    text-align: center;
    font-size: 70px;
}
main h2 {
    font-size: 40px;
    margin: 30px;
}

legend {
    margin: 20px;
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
#finalSelection{
    text-decoration: none;
    }
    #finalSelection[type=checkbox]:checked ~ del {
    text-decoration: line-through;
    }